<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.byui.cs246.bookwarm" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBookActivity"
            android:label="@string/title_activity_add_book" >
        </activity>
        <activity
            android:name=".BookDetailsActivity"
            android:label="Book Details" >
        </activity>
        <activity
            android:name=".ListNoteActivity"
            android:label="@string/title_activity_list_note" >
        </activity>
        <activity
            android:name=".AddNoteActivity"
            android:label="@string/title_activity_add_note" >
        </activity>
        <activity
            android:name=".AddBookMethod"
            android:label="@string/title_activity_add_book_method" >
        </activity>
        <activity
            android:name=".EditNote"
            android:label="@string/title_activity_edit_note" >
        </activity>
    </application>

</manifest>
